In [3]:
# IF YOU EVER MAKE CHANGES TO FILES OUTSIDE OF NOTEBOOK, YOU MUST RESTART KERNEL
from mysql_to_pandas import get_dataframe_from_mysql
database = "DS2002FinalData"

In [4]:
crime_df = get_dataframe_from_mysql("MentalHealthAndSACrimeRate", database)
gapminder_df = get_dataframe_from_mysql("Gapminder", database)

In [5]:
crime_df

,Entity,Year,Schizophrenia (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Sexual Violence Rate
0,Albania,2005,0.196538,3.385416,0.497503,2.223407,1.716585,2.832771
1,Albania,2006,0.197004,3.387210,0.497997,2.222417,1.737167,2.756124
2,Albania,2007,0.197636,3.388914,0.497442,2.217203,1.766903,3.186457
3,Albania,2008,0.198306,3.390168,0.497332,2.210642,1.798550,2.388888
4,Albania,2009,0.198905,3.391018,0.498324,2.206033,1.824955,2.599662
...,...,...,...,...,...,...,...,...
586,Yemen,2005,0.172946,4.830517,1.224141,4.010933,0.627500,0.000000
587,Yemen,2006,0.173065,4.832736,1.237537,4.012598,0.628636,0.333520
588,Yemen,2007,0.173181,4.835215,1.263182,4.014557,0.630894,0.246047
589,Yemen,2008,0.173272,4.837639,1.293243,4.017453,0.633496,0.357986
590,Yemen,2009,0.173329,4.839962,1.322232,4.018842,0.635702,0.308639

In [6]:
gapminder_df

,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
0,Belgium,2003,4.2,78.5,1.70,10426169.0,2.396593e+11,Europe,Western Europe
1,Bulgaria,2003,15.5,72.3,1.25,7805041.0,1.483846e+10,Europe,Eastern Europe
2,Canada,2003,5.2,79.8,1.54,31596593.0,7.737140e+11,Americas,Northern America
3,Croatia,2003,6.3,75.1,1.38,4390291.0,2.464898e+10,Europe,Southern Europe
4,Czech Republic,2003,4.8,75.6,1.20,10211846.0,6.426426e+10,Europe,Eastern Europe
...,...,...,...,...,...,...,...,...,...
558,Spain,2011,3.8,82.0,1.47,46708366.0,7.171940e+11,Europe,Southern Europe
559,Sweden,2011,2.4,81.7,1.90,9462352.0,3.167986e+11,Europe,Northern Europe
560,Switzerland,2011,3.8,82.6,1.51,7925813.0,3.009384e+11,Europe,Western Europe
561,Tajikistan,2011,43.3,70.1,3.81,7753925.0,2.060715e+09,Asia,Central Asia
562,Trinidad and Tobago,2011,20.4,71.9,1.80,1334790.0,1.390608e+10,Americas,Caribbean